#parent {
	background-image: url(http://www.dream-wallpaper.com/free-wallpaper/art-wallpaper/colorful-background-episode-1-wallpaper/1920x1200/free-wallpaper-59.jpg)
}
.minister {
	text-align: center;
	position: relative;
	color: brown;
	top:-310px;
	background: rgba(255,255,255, 0.5);
}
.h-about {
	text-align: center;
}
h1 p {
	text-align: center;
}
/*Setting text align center for all title classes*/
.title{
    text-align: center;
}

/*Styling the navigation bar*/
.navmenu{
	background-color: #0033CC;
	border: 1px solid #dedede;
	border-radius: 4px;
	color: #888;
	display: block;
	text-align: center;
}

.navmenu ul{
    margin: 0;
	padding: 0;

}

.navmenu li{
   display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
/*Styling the anchor tags*/
.navmenu a{
	color: #aaa;
	display: block;
	padding: 10px;
	text-decoration: none;
	margin: 5px, 5px;
}
/*Setting color change on hover*/
.navmenu a:hover{
	background-color: #00124A;
}

.logo{
    text-align: center;
    margin: 10px;
}

.latestnews{
    text-align: center;
}

.mynews{
    margin-top:10px;
	border: #cdcdcd medium solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

    p{
        text-align: left;
    }
    .row{
        border: 2px, solid black;
        padding: 5px;
    }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
    center-block();
}

.jumbotron{
	height: 500px;
}
